In [2]:
import json
import pandas as pd

In [3]:
final_data = pd.read_csv('../inout/csv/sms-20210307001157.csv')
print(final_data.shape)
final_data.head()

(729, 11)

,protocol,sender_number,date_epoch,type,msg_body,service_centre_number,read,date_sent_epoch,sub_id,readable_date,contact_name
0,0,CP-EXLHRO,1605682960247,1,"Hi Shubham, Do you have an HR Query? Call 0008...",9.170121e+11,1,1605682951000,1,"Nov 18, 2020 12:32:40",(Unknown)
1,0,AX-BAJAJF,1605797976331,1,Congratulations! You are Pre-approved for Baja...,9.170121e+11,1,1605797974000,1,"Nov 19, 2020 20:29:36",(Unknown)
2,0,VM-EPFOHO,1605941145671,1,"Dear 100938733988, your passbook balance again...",9.170121e+11,1,1605941143000,1,"Nov 21, 2020 12:15:45",(Unknown)
3,0,BP-iPaytm,1606231065906,1,Download your account statement from 24-10-202...,9.170121e+11,1,1038151062000,1,"Nov 24, 2020 20:47:45",(Unknown)
4,0,JE-JIONET,1606311432038,1,"Dear Customer, \n662738 is your one time passw...",9.170121e+11,1,1606311431000,1,"Nov 25, 2020 19:07:12",(Unknown)

In [9]:
with open('../inout/json/sms-20210307001157.json') as f :
    json_data = json.load(f)

In [17]:
len(json_data[0].keys())

16

In [1]:
for sms in json_data:
    print(sms)

NameError: name 'json_data' is not defined

## Pyhive demo

In [2]:
import pandas as pd 
from pyhive import hive

ModuleNotFoundError: No module named 'pyhive'